#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; 
  grid-template-areas: 
  "barra"
  "principal"
  "pie";
}
.Barra{
  grid-area: barra;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #212529;
  color: white;
  justify-content: space-between;
  font-size: 50px;
  font-size: smaller;
  text-align: center;
  
}
.Barra h3{
  font-size: 22px;
}
.Home{
  grid-area: principal;
  display: flex;
  flex-direction: column;
}
.Footer{
  grid-area: pie;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #212529;
  font-size: 12px;
  text-align: center;
  align-items: center;
  
}
.header {
  position: relative;
  background-image: url('../public/img/header_720.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.header-content {
  border-bottom: 1px solid gray;
  position: relative;
  z-index: 2;
  color: white;
}
.header-content h3{
  font-size: 15px;
}
.header-content h1{
  margin: 5px;
}
.pizzaimg{
  width: 15px;
}
.card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;
  transform: scale(1);
  transition: all 0.9s linear;
}
.card:hover{
  transform: scale(1.05);
}
.CardP{
  width: 350px;
  height: 50px;
  justify-content: center;
}
.Register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 91.3vh;
  margin-top: 35px;
}
.mb-3{
  width: 600px;
}
.Login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 91.3vh;
  margin-top: 35px;
}
.carta{
  display: flex;
  margin-top: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 91.3vh;
}
.carta p{
  width: 800px;
  height: auto;
  
}
.carta button{
  border: none;
  background-color: #212529;
  color: white;
  border-radius: 5%;
  width: 180px;
  height: 25px;
  margin: 5px;
}
.Profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 83.2vh;
  margin-top: 35px;
}
.Notfound{
  display: flex;
  margin-top: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 91.4vh;
  gap: 30px;
}
.profile-page{
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 91.4vh;
  background-image:  url('../public/img/header_720.jpg');
  background-size: cover;
  margin-top: 35px;
}

.containerP{
  
  width: 600px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
